.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  background-color: black;
}

.container-about {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px;
  max-width: 1200px;
  width: 100%;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: rgba(254, 234, 106, 0.87);
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.about-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #fff; /* Borda branca */
}

.service ul {
  list-style: none;
  text-align: left;
}

.service ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff; /* Texto branco */
}

/* Responsividade */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container-about h2 {
    font-size: 1.2rem;
    margin-top: 12px;
    color: rgba(254, 235, 106, 0.3);  }

  .about-image {
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
  }

  .service {
    padding: 10px;
    height: auto;
  }

  .service ul {
    justify-content: center;
  }

  .service ul li {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .content {
    max-height: auto;
    width: 100%;
    margin: 0;
    padding: 12px;
  }

  .container-about h2 {
    font-size: 1.2rem;
    margin-top: 12px;
    color: rgba(254, 234, 106, 0.87);}

  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 32px;
    height: auto;
    width: 100%;
    border: 1px solid rgba(254, 235, 106, 0.3); /* Borda dourada */
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(254, 235, 106, 0.3); /* Sombra dourada */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service:active {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(254, 235, 106, 0.6); /* Sombra mais intensa */
  }

  .service ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    list-style: none;
  }

  .service ul li {
    font-size: 12px;
  }
}