<div id="iphone" class="product">
  <div class="product-content">
    <img src="page-iphone.png" alt="iPhone" class="product-image">
    <div class="product-details">
      <h2>iPhone</h2>
      <p>Somos referência em vendas de iPhones, garantindo qualidade, preços imbatíveis e atendimento personalizado. Trabalhamos com produtos originais para oferecer segurança e confiança em cada compra.</p>
      <button><a href="https://wa.me/+5511986354888">SIMULE AGORA</a></button>
    </div>
  </div>
</div>